.steangears{
    right: 200px;
}

.gears{
    z-index: 1;
    position: fixed;
    width: 300px;
    animation: spin 15s linear infinite;

}

.gear1 img{
    bottom: 100px;
    width: 400px;
}

.gear2{
    top: 300px;
}

.gear3{
    top: 600px;
}


@keyframes spin{
    to{
        transform: rotate(1turn);
    }
    
    /* 0%{
        transform: rotate(360deg);
    } */
}
