.steangears{
}

.gears{
    z-index: 1;
    position: fixed;
    width: 300px;
    animation: spin 15s linear infinite;

}

.gear1{
    bottom: 290px;
    right: 1100px;
    width: 400px;
}

.gear2{
    top: 350px;
    right: 1120px;
    animation: revertspin 15s linear infinite;
}

.gear3{
    right: 1220px;
    top: 610px;
}

.gear4{
    top: 120px;
    left: 185px;
    width: 400px;
    animation: revertspin 15s linear infinite;
}

.gear5{
    top: 200px;
    right: 460px;
    width: 320px;
}

.gear6{
    bottom: 300px;
    right: 145px;
    width: 400px;
    animation: revertspin 15s linear infinite;
}

.gear7{
    top: 375px;
    right: 180px;
    width: 370px;
    animation: revertspin 15s linear infinite;
}

@keyframes spin{
    to{
        transform: rotate(1turn);
    }
    
}

@keyframes revertspin{
    to{
        transform: rotate(-1turn);
    }
    
}
