@import url(/css/config.css);
@import url(/css/global/header.css);
@import url(/css/global/footer.css);
@import url(/css/gears.css);

* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f5f5f5;
}

html{
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
}

.divName{
    display: flex;
    background-color: var(--content-background);
    padding: 3px 50px;
    border: 3px solid var(--contour);text-transform: uppercase;
}

.divName h3{
    color: orange;
}

.divs{
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
}

.texts{
    margin: 50px;
    padding: 30px 15px;
    
    background-color: var(--content-background);
    box-shadow: 10px 10px 10px var(--img-text-color);
    border: 3px solid var(--contour);
}




#show-web{
    display: flex;
}

#hide-web{
    display: none;
}

#btn-hider{
    width: 40px;
    margin-left: 40px;
    background-color: var(--img-text-color);
}

#btn-show{
    width: 40px;
    margin-left: 40px;
    background-color: var(--img-text-color);
    transform: rotate(180deg);
}


::-webkit-scrollbar{
    width: 1em;
}

::-webkit-scrollbar-track{
    background: var(--contour);
}

::-webkit-scrollbar-thumb{
    background: var(--content-background);
    border-radius: 10px;
    border: 3px solid var(--contour);
}

.zum{
    z-index: 1;
}

/* 
.aboutproject{
    width: 270px;
} */


.about{
    background-color: var(--background-color);
    margin-top: 60px;
}

.container{
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.container i + i{
    margin-left: 30px;
}

.retrato{
    position: relative;
    max-width: 300px;
    right: 10px;
    margin: 10px;
}

.retrato img{
    max-width: 100%;
    border-radius: 10px;
    
    box-shadow: 10px 10px 10px var(--img-text-color);
    border: 5px solid var(--contour);
}


.projects{
    background-color: var(--background-color);
}

.project{
    border-radius: 10px;
    padding: 10px;
    background-color: var(--content-background);
    margin: 20px auto;
    max-width: 300px;
    box-shadow: 10px 10px 10px var(--img-text-color);
    border: 3px solid var(--contour);
    transform: scale(1,1);
    transition-duration: 1s;
}

.project:hover{
    transform: scale(1.1,1.1);
}

.gallery .project img{
    max-width: 100%;
    border-radius: 10px;
    border: 5px solid var(--contour);
}

.project p{
    margin: 10px;
    padding: 10px;
    background-color: var(--img-text-color);
    border-radius: 10px;
    
    border: 3px solid var(--contour);
}

.contact{
    background-color: var(--background-color);
}