*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}


header{
    background-color:cadetblue;
    text-align: center;
    padding: 10px;
    color: white;
}


.title{
    margin: 30px;
    text-align: center;
}


.card{
    margin: 10px 30%;
    text-align: center;
    background-color: cadetblue;
    padding: 5px 1%;
    border-radius: 5px;
    color: white;
}

.lineInput{
    display: grid;
    margin: 10px;
}

input{
    padding: 7px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    outline: 0;
}

button{
    border: 0;
    padding: 7px;
    outline: 0;
    border-radius: 3px;
    font-weight: bold;
    transition:  all ease 0.5s;
}

button:hover{
    background-color: darkgrey;
}


.content{
    margin: 50px 20%;
}

table{
    border-collapse: collapse;
    border: 2px solid darkgrey;
    width: 100%;
}

table th{
    background-color: rgb(226, 226, 226);
    padding: 5px;
}

table tr{
    text-align: center;
}

table tbody img{
    width: 30px;
}

table tbody img + img{
    margin-left: 10%;
}


footer{
    /*  justify-content só funciona se o display for flex  */
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    padding: 10px;

    color: white;
    background-color: cadetblue;
}