footer{
    position: relative;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    border-top: 5px solid var(--contour);
    background-color: var(--img-text-color);
}

.icons{
    margin-right: 100px;
}

.icons a + a{
    margin-left: 30px;
}