:root{
  --radios: 5px;
  
  --colorHeader: #1c232e;
  --colorCards: #0f684b;
  
  --colorBackGround: #03484c;
  --colorSecondBackGround: #1c232e;
  
  --colorBorder: #3b8952;
  --colorBorderCard: #1c232e;
  
  --colorTexts: #53ac59;
}


@media (max-width:1030px) {
  .gallery{
    padding: 5%;
  }

  .content{
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery .music .play audio{
    max-width: 100%;
  }
}


::-webkit-scrollbar{
  width: 1em;
}

::-webkit-scrollbar-track{
  background: var(--colorHeader);
}

::-webkit-scrollbar-thumb{
  background: var(--colorCards);
  border-radius: 10px;
  border: 3px solid var(--colorHeader);
}
